.inhalt {
    margin-top: 80px;
}
.artikelbild {
    margin-top: 29px;
    margin-bottom: 10px;
}
.profilbild_image {}
.bannerbild {
    margin-top: 51px;
}
.schrift_unter_bannerbild {
    margin-left: 300px;
    margin-top: 30px;
}
.Überschrift {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 45px;
    color: darkblue;
    margin-top: 10px;
}
.inhalt2 {
    margin-top: 25px;
}
.Wirsindgrossvideo {
    margin-left: 0px;
}
.neuestes {
    margin-top: 80px;
}
.lead1 {
    font-size: 19 px;
}
.übermichtext {
    margin-top: 37px;
    
}
.Überschrift2 {}
.fuerfragen {
    border-color: darkgrey;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
}
.galeriebilder {
    margin-top: 45px;
}
.profilbild1 {
    margin-bottom: 20px;
}
.profilbild2 {
    margin-bottom: 20px;
}
.profilbild3 {
    margin-bottom: 20px;
}










.thumbnails {
    margin-bottom: 40px;
}

.Logos {
    margin-bottom: 15px;
}

.profilbilder {
    margin-bottom: 35px;
}

.Thumbnail7 {
    margin-bottom: 50px;
    margin-right: 20px;
}

.Thumbnail1 {
    margin-bottom: 50px;
    margin-right: 20px;
}

.Thumbnail2 {
    margin-bottom: 50px;
    margin-right: 20px;
}

.Thumbnail3 {
    margin-bottom: 50px;
    margin-right: 20px;
}

.Thumbnail4 {
    margin-bottom: 50px;
    margin-right: 20px;
}

.Thumbnail5 {
    margin-bottom: 50px;
    margin-right: 20px;
}

.Thumbnail6 {
    margin-bottom: 50px;
    margin-right: 20px;
}



.video {
    margin-right: 8px;
    margin-bottom: 20px;
}

.ytbutton {
    
}

.button {
    font-family:monospace;
}






.neuestes_video {
    margin-top: 75px
}

.schriftnebenbild {
    font-size: 19px
}

.Meine_Website {
    
}

.meinewebsitetext {
    margin-top: 55px;
}

.kastenmeine {

}

.emailhome {
    font-size: px;
    margin-left: 10px;
}

.Thumbnail {
    margin-top: -48px;
}

hr {
  
